# Environnement Python
.env/
__pycache__/
*.pyc
*.pyo

# Logs
logs/*.log
nginx/logs/*.log

# Temporaires
*.tmp
*.temp

# PHP/NGINX portables (trop volumineux)
nginx/nginx.exe
php/php.exe
php/php-cgi.exe

# Config locale
config/local_settings.json
